<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Code Blogs
    </title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('partials/header') %>

        <div id="banner-container">
            <!-- Yaha Pr jo gradient hai uske samaan ko rkhna hai -->
            <h1>Welcome to My Blog Site</h1>
            <p>Explore amazing blog posts and join the community.</p>
        </div>

        <div id="blog-container">
            <div>
                <h1>
                    
                </h1>
            </div>

            <div class="blogcardsection">

                <% sampleBlogs.blogs.forEach(function(blog) { %>
                    <div class="blogcard">
                        <div class="card">
                            <img src="<%= blog.image %>" alt="Card Image" class="card-image">
                            <div class="card-content">
                                <h2 class="card-title">
                                    <%= blog.title %>
                                </h2>
                                <p class="card-description">
                                    <%= blog.content %>
                                </p>
                                <a href="#" class="card-button">Read More</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>

                    <div class="highlightssection">
                        <div class="highlightcontent">
                            <h2><%=  highlightSection.title %></h2>
                            <h4><%=  highlightSection.description %></h4>
                            <a href="#" class="card-button">Learn More About It</a>

                        </div>
                        <div class="highlightimage">
                            <img src="<%=  highlightSection.image %>" alt="Highlight Image">

                        </div>
                    </div>

            </div>


        </div>

        <%- include('partials/footer') %>
</body>

</html>